@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  background: #373948;
  padding-top: 30px;
}

h1 {
  max-width: 540px;
  margin: auto;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 30px;
  color: slategray;
}

button:focus {outline:0;}
input:focus {outline:0;}
select:focus {outline-color: slategray;}

select {
  background: none;
  color: slategray;
  border-color: slategray;
}

.select-margin {
  margin-top: 2px;
}

.history-ol {
  margin-top: -7px;
}

.form {
  max-width: 540px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.corner {
  position: absolute;
  width: 20px;
  height: 20px;
  background: slategray;
  margin-top: -9px;
  margin-left: 18px;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.auth {
  opacity: 0;
  position: absolute;
  width: 192px;
  background: slategray;
  border-radius: 3px;
  margin-left: calc((100% - 138px) / 2);
  margin-top: 13px;
  padding: 5px;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.auth input {
  margin-left: 0px;
  margin-top: 0px;
  width: 158px;
  padding: 10px;
  border: solid 2px slategray;
  color: slategray;
  border-radius: 2px;
  font-weight: bold;
  background: #242738;
}

.auth p {
  font-size: 12px;
  padding: 4px;
  color: #242738;
}

.form input {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  border: solid 2px slategray;
  color: slategray;
  border-radius: 2px;
  font-weight: bold;
  background: #242738;
  width: 138px;
}

.stop-btn {
  margin-right: 20px;
}

::-webkit-input-placeholder {
  color: slategray;
}
::-moz-placeholder {
  color: slategray;
}
:-ms-input-placeholder {
  color: slategray;
}
:-moz-placeholder {
  color: slategray;
}

.form button {
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  background: #242738;
  border: solid 2px slategray;
  color: slategray;
  font-weight: bold;
  border-radius: 2px;
}

.form button:hover {
  background: slategray;
  cursor: pointer;
  color: #242738
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: slategray;
  font-size: 12px;
}

.results-graphs {
  max-width: 540px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.server-message {
  text-align: center;
  color: slategray;
  margin-bottom: 20px;
}

.results {
  min-width: 500px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  border: solid 2px slategray;
  border-radius: 2px;
  background: #242738;
}

.results-r {
  min-width: 500px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  border: solid 2px slategray;
  border-radius: 2px;
  margin-top: 0px;
  background: #242738;
}

.history {
  min-width: 500px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  border: solid 2px slategray;
  border-radius: 2px;
  margin-top: 0px;
  background: #242738;
}

ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

li {
  background: slategray;
  border-radius: 2px;
  width: 32px;
  margin-right: 3px;
}

li p {
  font-size: 11px;
  color: white;
  padding: 5px;
  margin-top: -20px;
}
